@import '../../common/common.css';

.button {
    height: 30px;
    margin: 0;
    padding: 5px 11px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid var(--color-cyan);
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--color-cyan);
    color: var(--color-white);
    outline: none;
    text-align: center;
    transition: var(--animation);
    transition-property: box-shadow, background-color, border-color;
    cursor: pointer;
    user-select: none;
}

.button:hover,
.button:active {
    border-color: var(--color-cyan-120);
    background-color: var(--color-cyan-120);
}

.button:focus {
    box-shadow: 0 0 5px 0 var(--color-cyan);
}

.button_secondary {
    border-color: var(--color-cyan-60);
    background-color: var(--color-white-0);
    color: var(--color-cyan);
}

.button_secondary:hover,
.button_secondary:active {
    border-color: var(--color-cyan);
    background-color: var(--color-white-0);
}

.button_wide {
    width: 100%;
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus {
    opacity: 0.5;
    outline: none;
    box-shadow: none;
    pointer-events: none;
    cursor: default;
}
