@import '../../common/common.css';

.form {

}

.field {
    margin-bottom: 10px;
}

.field-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
}

.field-hint {
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-silver-light);
}

.field-hint_error {
    color: var(--color-sunset);
}
