@import './media.css';

:root {
    --font-size-default: 16px;
    --font-size-md: 14px;
    --font-size-xs: 12px;

    --line-height-default: 1.5;
    --font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

    --font: normal var(--font-size-default)/var(--line-height-default) var(--font-family);

    --init-font: {
        font: var(--font);

        @media (--mobile) {
            font-size: var(--font-size-xs);
        }

        @media (--tablet) {
            font-size: var(--font-size-md);
        }
    };

    --text: {
        font-size: 1rem;
        line-height: var(--line-height-default);
    };
}
